.DS_Store
id-visual/manual-de-marca/
id-visual/fonte-Bricolage-Grotesque/*
!id-visual/fonte-Bricolage-Grotesque/BricolageGrotesque-Regular.ttf
!id-visual/fonte-Bricolage-Grotesque/BricolageGrotesque-Medium.ttf
!id-visual/fonte-Bricolage-Grotesque/BricolageGrotesque-SemiBold.ttf
!id-visual/fonte-Bricolage-Grotesque/BricolageGrotesque-Bold.ttf
