.DS_Store
id-visual/manual-de-marca/
id-visual/fonte-Bricolage-Grotesque/*
!id-visual/fonte-Bricolage-Grotesque/BricolageGrotesque-Regular.ttf
!id-visual/fonte-Bricolage-Grotesque/BricolageGrotesque-Medium.ttf
!id-visual/fonte-Bricolage-Grotesque/BricolageGrotesque-SemiBold.ttf
!id-visual/fonte-Bricolage-Grotesque/BricolageGrotesque-Bold.ttf
fotos/video-consultorio-1.mp4
fotos/consultorio *.jpg
fotos/video-hero-atualizado.mov
fotos/video-hero-backup.mp4
fotos/video-hero-backup.webm
fotos/video-hero-poster-backup.jpg
